.tbl {
	width: 100%;
	height: auto;
	overflow: auto;
	margin-top: 30px;

	table {
		width: auto;
		table-layout: fixed;
		margin: 0 auto;
	}

	th {
		min-width: 150px;

		&:first-child {
			min-width: auto;
		}
	}

	&__phone {

		span {
			display: block;
			margin: 5px 0;
		}
	}

	&__date {
		white-space: nowrap;
	}

	&__text {
		
	}

	&__controls {
		&>div {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.btn-flat {
		padding: 0 0.5rem;
		height: 16px;
		line-height: 16px;
		vertical-align: middle;
	}
}

.td-move {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	white-space: normal;

	a:first-child,
	button:first-child {
		transform: rotate(180deg);
	}

	@media (max-width: 992px) {
		flex-direction: row;
	}
}

